* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#maze-grid {
    width: 1260px;
    height: 900px;
    background: red;
    position: relative;
}

.cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.row {
    display: flex;
}

.wall {
    background-color: black;
}

.start {
    background-color: blue;
}

.finish {
    background-color: yellow;
}

.player {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: green;
}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    color: white;
    font-size: 3em;
    z-index: 1;
    background: black;
}